<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proxy.library.book.model.repository.ProxyRepository">

    <insert id="insertBooks" parameterType="java.util.Map">
        INSERT INTO devint.book__c(
                name,
                type__c,
                cover__c,
                description__c,
                author__c
            )
        VALUES
        <foreach item="book" index="index" collection="paramBooks" separator=",">
            (
                #{book.name},
                #{book.typeC},
                #{book.coverC},
                #{book.descriptionC},
                #{book.authorC}
            )
        </foreach>
	</insert>

    <insert id="insertBookByVolumes" parameterType="java.util.Map">
        INSERT INTO devext.bookbyvolume(
                book,
                cover,
                isbn13,
                price,
                ispurchased,
                name,
                type,
                volume,
                noneedtobuy,
                description,
                link,
                pubdate,
                author
            )
        VALUES
        <foreach item="book" index="index" collection="paramBooks" separator=",">
            (
                #{book.book},
                #{book.cover},
                #{book.isbn13},
                #{book.price},
                #{book.ispurchased},
                #{book.name},
                #{book.type},
                #{book.volume},
                #{book.noneedtobuy},
                #{book.description},
                #{book.link},
                #{book.pubdate},
                #{book.author}
            )
        </foreach>

    </insert>

    <update id="updtBookByVolume" parameterType="java.util.Map">
        <foreach item="book" index="index" collection="paramBooks" separator=",">
            UPDATE devext.bookbyvolume
            SET
                book = #{book.book},
                cover = #{book.cover},
                isbn13 = #{book.isbn13},
                price = #{book.price},
                ispurchased = #{book.ispurchased},
                name = #{book.name},
                type = #{book.type},
                volume = #{book.volume},
                noneedtobuy = #{book.noneedtobuy},
                description = #{book.description},
                link = #{book.link},
                pubdate = #{book.pubdate},
                author = #{book.author}
            WHERE id = #{book.id}
        </foreach>
    </update>

    <insert id="insertStock" parameterType="java.util.Map">
        INSERT INTO devext.branchbook(
                book,
                volume,
                name,
                branch,
                bookLink,
                minPrice
            )
        VALUES
        <foreach item="book" index="index" collection="paramBooks" separator=",">
            (
                #{book.book},
                #{book.volume},
                #{book.name},
                #{book.branch},
                #{book.bookLink},
                #{book.minPrice}
            )
        </foreach>

    </insert>

</mapper>