<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proxy.library.stock.model.repository.StockRepository">

    <select id="getStock" parameterType="String">
        SELECT bbv.seq, bbv.name, bbv.ispurchased, bbv.noneedtobuy, bbv."type", volume , book, id, cover, bbv.isbn
        FROM devext.bookbyvolume bbv
        WHERE name like CONCAT('%', #{name}, '%')
        ORDER BY book, volume
    </select>

    <select id="getBranchBook" parameterType="String">
        SELECT bbv.seq, bbv.name, bbv.ispurchased, bbv.noneedtobuy, bbv."type", bbv.volume , bbv.book, bbv.id, bbv.cover, bbv.isbn
        FROM devext.bookbyvolume bbv
        join devext.branchbook b on b.book = bbv.book
        WHERE b.volume = bbv.volume
        and b.branchname like CONCAT('%', #{branch}, '%')
        ORDER BY bbv.name, bbv.book, bbv.volume
    </select>

</mapper>